.main-content {
  background-color: #2135a6;
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.main-form {
  background-color: #FFFFFF;
  width: 60%;
  height: 100vh;
  overflow-y: auto;
  padding: 20px;
}

.main-imagem {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
}

.caba-sentado {
  max-width: 80%;
  height: auto;
}

.logos {
  width: 212px;
  height: auto;
  margin-top: 20px;
}

.form-content {
  display: flex;
  flex-direction: column;
  width: 528px;
  height: 134px;
  gap: 24px;
}

.explica-formulario {
  width: 528px;
  height: 86px;
  gap: 8px;
}

.sair-da-pagina {
  display: flex;
  width: 80px;
  height: 24px;
  gap: 8px;
}