@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

select {
  color: #292524;
  width: 528px;
  height: 48px;
  border-radius: 8px;
  border: 2px solid #d6d3d1;
  padding: 10px;
  font-size: 16px;
  line-height: 24px;
  appearance: none;
  background-image: url(/assets/arrow-down-01.svg);
  background-repeat: no-repeat;
  background-position: right 10px center;
}

.main-content {
  background-color: #2135a6;
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.main-form {
  background-color: #FFFFFF;
  width: 50%;
  height: 100vh;
  overflow-y: auto;
  padding: 64px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  position: relative;
}

.form-content {
  display: flex;
  flex-direction: column;
  width: 528px;
  height: 132px;
  gap: 24px;
  margin-bottom: 24px;
}

.form-area {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.explica-formulario {
  width: 528px;
  height: 86px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.data-fill {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  vertical-align: middle;
}

.main-imagem {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
}

.caba-sentado {
  max-width: 80%;
  height: auto;
}

.logos {
  width: 212px;
  height: auto;
  margin-top: 20px;
}

.sair-da-pagina {
  display: flex;
  width: 80px;
  height: 24px;
  gap: 8px;
  cursor: pointer;
}

.upload-documents {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.document-title {
  font-size: 14px;
  font-weight: 400;
}

.add-file {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px dashed #d6d3d1;
  border-radius: 8px;
  padding: 24px 16px 24px 16px;
  gap: 8px;
  cursor: pointer;
  text-align: center;
  width: 100%;
  max-width: 528px;
  height: 160px;
  transition: 0.3s;
}

.add-file:hover {
  color: #d6d3d1;
  background-color: #f5f5f5;
}

.name-input {
  color: #292524;
  width: 528px;
  height: 48px;
  border-radius: 8px;
  border: 2px solid #d6d3d1;
  padding: 10px;
  font-size: 16px;
  line-height: 24px;
}

.name-input:hover {
  background-color: #f5f5f5;
}

.name-input:focus {
  color: #292524;
  width: 528px;
  height: 48px;
  border-radius: 8px;
  border: 2px solid #f3541c;
  padding: 10px;
  font-size: 16px;
  line-height: 24px;
  box-shadow: 0 0 8px rgba(255, 145, 77, 0.8);
}

.name-input-errado {
  color: #292524;
  width: 528px;
  height: 48px;
  border-radius: 8px;
  border: 2px solid #dc2626;
  padding: 10px;
  font-size: 16px;
  line-height: 24px;
}

.participant {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.mensagem-erro {
  width: 528px;
  height: 20px;
  display: none;
  gap: 8px;
  text-align: center;
  align-items: center;
}

.identificador-erro {
  color: #dc2626;
}

.name-input-pequeno {
  width: 176px;
  height: 48px;
  border-radius: 8px;
  border: 2px solid #d6d3d1;
  padding: 10px;
  font-size: 16px;
  line-height: 24px;
}

.name-input-pequeno:hover {
  color: #292524;
  background-color: #f5f5f5;
}

.name-input-cinza {
  color: #292524;
  background-color: #f5f5f5;
  width: 332px;
  height: 48px;
  border-radius: 8px;
  border: 2px;
  padding: 10px;
  font-size: 16px;
  line-height: 24px;
}

.name-input-cinza-pequeno {
  color: #292524;
  background-color: #f5f5f5;
  width: 176px;
  height: 48px;
  border-radius: 8px;
  border: 2px;
  padding: 10px;
  font-size: 16px;
  line-height: 24px;
}

.participant-informations {
  width: 528px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 24px;
}

.endereco-residencial {
  width: 528px;
  height: 520px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 24px;
}

.endereco-junto {
  width: 528px;
  height: 72px;
  display: flex;
  gap: 20px;
}

.trilhas {
  width: 528px;
  height: 472px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.trilhas-apresentacao {
  width: 528px;
  height: 428px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.trilhas-apresentacao-opcoes {
  width: 528px;
  height: 392px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.trilha-escolhida {
  width: 256px;
  height: 120px;
  border-radius: 8px;
  border: 1px solid #d6d3d1;
  padding: 32px 16px 16px 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  position: relative;
}

.icon-box {
  padding: 10px;
  display: flex;
  gap: 10px;
}

.nome-trilha {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.checkbox {
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
  appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid #d6d3d1;
  cursor: pointer;
}

.checkbox:checked {
  background-color: #f3541c;
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
  appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid #f3541c;
  cursor: pointer;
  background-image: url(/assets/check.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.trilha-escolhida-clicada {
  width: 256px;
  height: 120px;
  border-radius: 8px;
  border: 1px solid #f3541c;
  padding: 32px 16px 16px 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  position: relative;
}

.termos-condicoes {
  display: flex;
  gap: 12px;
  width: 528px;
  height: 48px;
}

.declaracao-termos {
  width: 492px;
  height: 48px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.termos {
  color: #e43a12;
  font-weight: 500;
  cursor: pointer;
}

.check {
  width: 24px;
  height: 24px;
  top: 0;
  cursor: pointer;
}

.check-termos {
  width: 19px;
  height: 19px;
  top: 2.5px;
  left: 2.5px;
  appearance: none;
  border: 2px solid #d6d3d1;
  cursor: pointer;
  border-radius: 5px;
}

.check-termos:checked {
  background-color: #dc2626;
  appearance: none;
  width: 19px;
  height: 19px;
  border: 2px solid #dc2626;
  cursor: pointer;
  background-image: url(/assets/check.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.buttons {
  display: flex;
  gap: 16px;
  width: 528px;
  height: 64px;
  padding-top: 16px;
  justify-content: flex-end;
}

.cancelar {
  width: 123px;
  height: 48px;
  min-width: 120px;
  border-radius: 8px;
  border: 1px solid #e43a12;
  padding: 12px 24px 12px 24px;
  display: flex;
  gap: 8px;
  text-align: center;
  color: #e43a12;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  justify-content: center;
  align-items: center;
}

.inscricao {
  width: 169px;
  height: 48px;
  min-width: 120px;
  border-radius: 8px;
  padding: 12px 24px 12px 24px;
  display: flex;
  gap: 8px;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  background-color: #e43a12;
  border: none;
}

@media (max-width: 1200px) {
  .main-content {
    flex-direction: column-reverse;
    height: auto;
    align-items: center;
  }

  .main-form {
    width: 100%;
    height: auto;
    padding: 32px;
  }

  .main-imagem {
    position: relative;
    width: 100%;
    height: auto;
    justify-content: center;
    padding: 20px;
  }

  .caba-sentado {
    max-width: 60%;
    height: auto;
  }
}